<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
    crossorigin="anonymous"></script>
  <title>Contacts</title>
</head>

<body>
  <main class="container bg-light mt-3 p-4">
    <nav class="navbar navbar-dark bg-dark fixed-top">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">Contacts</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar"
          aria-controls="offcanvasDarkNavbar">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasDarkNavbar"
          aria-labelledby="offcanvasDarkNavbarLabel">
          <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel">Contacts</h5>
            <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas"
              aria-label="Close"></button>
          </div>
          <div class="offcanvas-body">
            <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                  aria-expanded="false">
                  Search
                </a>
                <ul class="dropdown-menu dropdown-menu-dark">
                  <li>
                    <div class="input-group">
                      <form class="d-flex mt-3" role="search">
                        <input id="input_get_id" class="form-control me-2" type="number" placeholder="ID" min="0">
                        <button class="btn btn-success" onclick="loadContact()">Search</button>
                      </form>
                    </div>
                  </li>
                  <li><button class="btn btn-info" type="submit" onclick="loadContacts()">Show All</button></li>
                </ul>
              </li>

              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                  aria-expanded="false">
                  Include
                </a>
                <ul class="dropdown-menu dropdown-menu-dark">
                  <li>
                    <div class="input-group">
                      <form class="d-flex mt-3" role="search">
                        <input class="form-control me-2" id="input_post_name" type="text" placeholder="name" aria-
                          label="Search">
                        <input class="form-control me-2" id="input_post_phone" type="phone" placeholder="phone" aria-
                          label="Search">
                        <button class="btn btn-success">Submit</button>
                      </form>
                    </div>
                  </li>
                </ul>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                  aria-expanded="false">
                  Update
                </a>
                <ul class="dropdown-menu dropdown-menu-dark">
                  <li>
                    <div class="input-group">
                      <form class="d-flex mt-3" role="search">
                        <input class="form-control me-2" id="input_put_id" type="number" placeholder="ID" aria-
                          label="Search" min="0">
                        <input class="form-control me-2" id="input_put_name" type="text" placeholder="name" aria-
                          label="Search">
                        <input class="form-control me-2" id="input_put_phone" type="phone" placeholder="phone" aria-
                          label="Search">
                        <button class="btn btn-success" type="submit">Update</button>
                      </form>
                    </div>
                  </li>
                </ul>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                  aria-expanded="false">
                  Delete
                </a>
                <ul class="dropdown-menu dropdown-menu-dark">
                  <li>
                    <div class="input-group">
                      <form class="d-flex mt-3" role="search">
                        <input class="form-control me-2" id="input_delete_id" type="number" placeholder="ID"
                          aria-label="Search" min="0">
                        <button type="button" class="btn btn-danger">Delete</button>
                      </form>
                    </div>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </nav>
    </section>
    <section class="container mt-4 pb-4">
      <table class="table">
        <thead class="bg-primary">
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">Phone</th>
          </tr>
        </thead>
        <tbody class="table__tbody">
        </tbody>
      </table>
    </section>
  </main>
</body>
<script>
  function loadContacts() {
    let tBody = document.querySelector('.table__tbody');
    tBody.innerHTML = "";
    fetch('http://127.0.0.1:5000/contacts', {
      method: "GET"
    })
      .then((response) => response.json())
      .then((data) => {
        data.contacts.forEach(contact => {
          let item = document.createElement('tr');
          item.innerHTML =
            `<th>${contact.id}</th>
                        <td>${contact.name}</td>
                        <td>${contact.phone}</td>`;
          tBody.appendChild(item);
        });
      });
  }

  function loadContact() {
    let id = document.querySelector('#input_get_id');
    let tBody = document.querySelector('.table__tbody');
    tBody.innerHTML = "";
    fetch(`http://127.0.0.1:5000/contacts/${id.value}`, {
      method: "GET"
    })
      .then((response) => response.json())
      .then((data) => {
        let item = document.createElement('tr');
        item.innerHTML =
          `<th>${data.contact.id}</th>
                    <td>${data.contact.name}</td>
                    <td>${data.contact.phone}</td>`;
        tBody.appendChild(item);
      });
  }

  function deleteContact() {
    let id = document.querySelector('#input_delete_id');
    let tBody = document.querySelector('.table__tbody');
    tBody.innerHTML = "";
    fetch(`http://127.0.0.1:5000/contacts/${id.value}`, {
      method: "DELETE"
    })
      .then((response) => response.json())
      .then((data) => {
        console.log(data.message);
        loadContacts();
      });
  }

  function postContact() {
    let inputName = document.getElementById('input_post_name');
    let inputPhone = document.getElementById('input_post_phone');
    let inputData = {
      "name": inputName.value,
      "phone": inputPhone.value
    };
    fetch(`http://127.0.0.1:5000/contacts`, {
      method: "POST",
      headers: {
        "Content-Type": 'application/json'
      },
      body: JSON.stringify(inputData)
    })
      .then((response) => response.json())
      .then((data) => {
        loadContacts();
      });
  }

  function updateContact() {
    let inputId = document.getElementById('input_put_id');
    let inputName = document.getElementById('input_put_name');
    let inputPhone = document.getElementById('input_put_phone');
    let inputData = {
      "name": inputName.value,
      "phone": inputPhone.value
    };
    fetch(`http://127.0.0.1:5000/contacts/${inputId.value}`, {
      method: "PUT",
      headers: {
        "Content-Type": 'application/json'
      },
      body: JSON.stringify(inputData)
    })
      .then((response) => response.json())
      .then((data) => {
        loadContacts();
      });
  }

</script>

</html>